{% extends 'app/base.html' %}

{% block content %}

    <body>
    <br>
    <div class="container">
        <h1>{{ event.title }}</h1>
        {% if error_message %}<p class="text-center">{{ error_message }}</p>{% endif %}
        <div class="row">
            {% if event.image %}
                <div class="col-md-6">
                    <img src="{{ event.image.url }}" alt="" width="100%">
                </div>
            {% endif %}
            <div class="col-md-6">
                <h5>About the event:</h5>
                {% if event.info %}
                    <p>{{ event.info }}</p>
                {% else %}
                    <p>No information given.</p>
                {% endif %}
                <h5>Date:</h5>
                <p>{{ event.day }}</p>
                <h5>Location:</h5>
                {% if not event.location %}
                    <p>N/A</p>
                {% else %}
                    <p>{{ event.location }}</p>
                {% endif %}
                <h5>Host:</h5>
                <p>{{ event.poster }}</p>
                <h5>Attendees:</h5>
                {% for user in attendees %}
                    <p>{{ user.user.get_full_name }}</p>
                {% endfor %}
            </div>
        </div>

        <br>
        <a href="{% url 'app:event_index'%}"
           class="btn btn-primary">
            Go Back
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'app:register' event.pk %}"
               class="btn btn-success">
                Register
            </a>
        {% endif %}
        {% if event.location %}
            <a href="{% url 'app:view_map' event.pk %}"
               class="btn btn-primary">
                See Location
            </a>
        {% endif %}

    </div>
    </body>
{% endblock %}
